<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userMapper" class="cn.itnxd.springframework.bean.UserMapper"/>

    <bean id="userService" class="cn.itnxd.springframework.bean.UserService">
        <property name="id" value="10001"/>
        <property name="location" value="上海"/>
        <!--<property name="company" value="特斯拉"/>-->
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <!--
        注意：若使用ApplicationContext需要将其注册到容器内；
             若使用BeanFactory原始方法，则只需要在测试类中手动new,然后调用添加方法添加到容器
    -->
<!--
    <bean id="myBeanFactoryPostProcessor" class="cn.itnxd.springframework.processor.MyBeanFactoryPostProcessor"/>
    <bean id="myBeanPostProcessor" class="cn.itnxd.springframework.processor.MyBeanPostProcessor"/>
-->

</beans>